
		/*根据不同dpr使用不同字号*/
		.header .h_all{font-size: 20px;}
		[data-dpr="2"] .header .h_all{font-size: 40px;}
		[data-dpr="3"] .header .h_all{font-size: 60px;}
		.footer{font-size: 14px;}
		[data-dpr="2"] .footer{font-size: 28px;}
		[data-dpr="3"] .footer{font-size: 42px;}
		.content{font-size: 20px;}
		[data-dpr="2"] .content{font-size: 40px;}
		[data-dpr="3"] .content{font-size: 60px;}

		*{margin:0;padding:0;font-family:微软雅黑;}
		/*头部文字*/
		.header{
			width:10rem;
			height:2rem;
			margin:0 auto;
			color:#fff;
			background: #803333;
			display:-webkit-box;
			display:-webkit-flex;
			display:-ms-flexbox;
			display:flex;
		}
		.h_all{
			-webkit-box-flex:1;
				-webkit-flex:1;
					-ms-flex:1;
						flex:1;
			text-align:center;
			-webkit-box-pack:center;
			-webkit-justify-content:center;
			-ms-flex-pack:center;
			justify-content:center;
			line-height: 2rem;
		}
		.header .h_all a{
			text-decoration: none;
			color:#fff;
			float: left;
		}
		.header .h_right .h_cart{
			width: 1rem;
			height: 1rem;
			display: inline-block;
			color: #D6C0C0;
			float: right;
			margin-right: 0.75rem;
		}
		/*图片轮播*/
		.ui-slider{
			height:1rem;
		}
		/*商品分类*/
		a{
			text-decoration: none;
		}
		.content{
			width:9rem;
			height:3rem;
			margin: 0.5rem auto;
			display:-webkit-box;
			display:-webkit-flex;
			display:-ms-flexbox;
			display:flex;
		}
		.content .c_text{
			-webkit-box-flex:1;
				-webkit-flex:1;
					-ms-flex:1;
						flex:1;
			float: left;
			text-align: center;
			line-height: 3rem;
		}
		.content .c_img{
			-webkit-box-flex:2;
				-webkit-flex:2;
					-ms-flex:1;
						flex:2;
		}
		.content .c_img li{
			width:50%;
			text-align: center;
			line-height:1.5rem;
			float: left;
			background: #ECEAEA;
		}
		.content .c_img li:nth-child(1){
			background: #2BA8E8;
		}
		.content .c_img li:nth-child(2){
			background: #2BA8E8;
		}
		.content .c_img li:nth-child(3){
			background: #F2C301;
		}
		.content .c_img li:nth-child(4){
			background: #F2C301;
		}
		.content .c_img li a{
			color: #fff;
			text-decoration: none;
		}
		.c_one{
			background: rgba(41, 35, 35, 0.83);
			color:#fff;
		}
		.c_two{
			background: #803333;color:#fff;
		}
		.c_three{
			background: #29944A;color:#fff;
		}
		.c_four{
			background: #E6502E;color:#fff;
		}
		.footer{
			width:10rem;
			height:1rem;
			margin:0 auto;
			background: gray;
			color: #fff;
			text-align: center;
			line-height:1rem;
		}