		html{font-size:20px;}
		*{font-family:微软雅黑;}
		/*根据不同dpr使用不同字号*/
		.header,.txt,.foot,.other{font-size:20px;}

		[data-dpr="2"].font,[data-dpr="2"].txt,[data-dpr="2"].foot,[data-dpr="2"].other{font-size:30px;}

		[date-dpr="3"].font,[data-dpr="3"].txt,[data-dpr="3"].foot,[data-dpr="3"].other{font-size:40px;}

		/*头部*/
		.head{background-image:url(../image/Login.jpg);
			  background-size:cover;
			  background-repeat:no-repeat;
			  width:10rem;
			  height:5rem;
			  margin:0 auto;
			  }
		/*账号密码登陆*/
		.name{
			  width:9rem;
			  height:2rem;
			  line-height:2rem;
			  margin:0 auto;
			  }
		.all_txt{width:10rem;
				 height:5.5rem;
				 margin:0 auto; 
				}
		.txt{width:9rem;
			 height:1.5rem;
			 margin-left:0.4rem;	
			 border-radius:6px;
			 outline: none;
			 border:1px solid gray;
			 padding-left:0.2rem;
			 }
		.txt2,.txt3{margin-top:0.5rem;}

		/*登陆和免费注册按钮*/
		.footer{width:9rem;
				height:1.5rem;
				margin:1.5rem auto;
				display:flex;
				}
		.foot{flex:1;
			  text-align:center;
			  line-height: 1.5rem;
			}
		.f_login{background:red;
				 color:#fff;
				 border:1px solid red;
				}
		.f_register{margin-left:0.2rem;
					border:1px solid red;
					color:red;
					}
		.footer a{text-decoration: none;}
		/*其他方式登陆*/
		.other{
			  width:9rem;
			  height:1rem;
			  margin:-1rem auto;
			  }
		.o_way{
			  width:9rem;
			  height:1rem;
			  margin:1rem auto;
			  }
		.o_way_all{
			   width:1.5rem;
			   height:1.5rem;
			   float:left;
			   margin-left:0.2rem;
			   border-radius:50px;
			   }